body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-filler {
    min-height: calc(100vh - 130px);
}

footer span {
    color: #484848;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
