header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}

header .logo {
    display: block;
    width: 142px;  /* Logo width */
    height: 60px;  /* Logo height */
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
